<!-- MATCH COL -->
<div class="col-lg-12">

    <div class="card shadow rounded-pill mt-5" style="overflow: hidden">
        <!-- MATCH CARD -->
        <div class="card-body p-0">
            <div class="row">
                <!-- FIRST TEAM COL -->
                <div class="col-lg-3 bg-primary d-flex flex-direction-column justify-content-center align-items-center" style="border-right: solid 5px #5b0d25;">
                    <div class="d-flex align-items-center justify-content-center" style="text-align: center; margin: auto 0">

                        <div>
                            <div class="flag">
                                <img class="rounded-circle border border-2"
                                     src="@Match.homeTeam.crest"
                                     alt=""
                                     style="width: 40px; height: 40px">
                            </div>
                            <h5 style="margin:auto 4px">@Match.homeTeam.tla</h5>
                        </div>
                    </div>
                </div>
                <!--// FIRST TEAM COL //-->
                <div class="col-lg-2 d-flex justify-content-center align-items-center">
                    <h3>
                        @(Match.score.fullTime.home is null ? "-" : Match.score.fullTime.home)
                    </h3>
                </div>
                <!-- VERSUS COL -->
                <div class="col-lg-2 pt-3" style="text-align: center">
                    <h6>@Match.group.Replace('_', ' ')</h6>
                    <h1>X</h1>
                    <h6>@TimeOnly.FromDateTime(Match.utcDate.ToLocalTime())</h6>
                    <h4>@(Match.status == "FINISHED" ? "انتهت" : Match.status == "TIMED" ? "لم تبدأ" : "جاري الآن")</h4>
                </div>
                <!--// VERSUS COL //-->
                <!-- SECOND TEAM COL -->
                <div class="col-lg-2 d-flex justify-content-center align-items-center">
                    <h3>
                        @(Match.score.fullTime.away is null ? "-" : Match.score.fullTime.away)
                    </h3>
                </div>
                <div class="col-lg-3 bg-primary d-flex flex-direction-column justify-content-center align-items-center" style="border-left: solid 5px #5b0d25;">
                    <div class="d-flex align-items-center justify-content-center" style="text-align: center; margin: auto 0">

                        <div>
                            <div class="flag">
                                <img class="rounded-circle border border-2"
                                     src="@Match.awayTeam.crest"
                                     alt=""
                                     style="width: 40px; height: 40px">
                            </div>
                            <h5 style="margin:auto 4px">@Match.awayTeam.tla</h5>
                        </div>
                    </div>
                </div>
                <!--// SECOND TEAM COL //-->
            </div>
        </div>
        <!--// MATCH CARD //-->
    </div>
</div>
<!--// MATCH COL //-->
@code {
    [Parameter]
    public MatchDto Match { get; set; }
}

@* 
<!-- MATCH COL -->
<div class="col-sm-12 mb-4">

    <div class="card shadow rounded-pill" style="overflow: hidden;">
        <div class="card-body p-0">
            <div class="row" style="height: 120px;">

                <!-- FIRST TEAM COL -->
                <div class="col-sm-3 bg-primary d-flex flex-direction-column justify-content-center align-itmes-center"
                     style="border-right: solid 5px #5b0d25; ">

                    <div class="d-flex align-items-center justify-content-center">
                        <!-- IMAGE AND TEAM NAME DIV -->
                        <div>
                            <div class="flag">
                                <img style="width: 40px; height: 40px" class="rounded-circle"
                                     src="@match.homeTeam.crest"
                                     alt="">
                            </div>

                            <h5 style="margin: auto 4px">
                                <b>@match.homeTeam.tla</b>
                            </h5>
                        </div>
                        <!--// IMAGE AND TEAM NAME DIV// -->
                    </div>
                </div>
                <div class="col-sm-2 d-flex justify-content-center align-items-center">
                    <h3>
                        @(match.score.fullTime.home is null ? "-" : match.score.fullTime.home)
                    </h3>
                </div>
                <!--// FIRST TEAM COL //-->
                <!-- MATCH INFO COL -->
                <div class="col-sm-2 pt-3" style="text-align: center;">
                    <h6>@match.group.Replace('_', ' ')</h6>
                    <h1>X</h1>
                    <h6>@TimeOnly.FromDateTime(match.utcDate.ToLocalTime())</h6>
                    <h4>@(match.status == "FINISHED" ? "انتهت" : match.status == "TIMED" ? "لم تبدأ" : "جاري الآن")</h4>
                </div>
                <!--// MATCH INFO COL //-->
                <!-- SECOND TEAM COL -->
                <div class="col-sm-2 d-flex justify-content-center align-items-center">
                    <h3>
                        @(match.score.fullTime.away is null ? "-" : match.score.fullTime.away)
                    </h3>
                </div>
                <div class="col-sm-3 bg-primary d-flex flex-direction-column justify-content-center align-itmes-center"
                     style="border-left: solid 5px #5b0d25; ">

                    <div class="d-flex align-items-center justify-content-center">
                        <!-- IMAGE AND TEAM NAME DIV -->
                        <div>
                            <div class="flag">
                                <img style="width: 40px; height: 40px" class="rounded-circle"
                                     src="@match.awayTeam.crest"
                                     alt="">
                            </div>

                            <h5 style="margin: auto 4px">
                                <b>@match.awayTeam.tla</b>
                            </h5>
                        </div>
                        <!--// IMAGE AND TEAM NAME DIV// -->
                    </div>
                </div>
                <!--// SECOND TEAM COL  //-->
            </div>
        </div>
    </div>
</div>
<!--// MATCH COL //--> *@